<body>
  <div>
    <div class="mm" style="margin: 0 auto">
      <% datos.forEach(function(user){ %>
      <a href="/<%=user.id%>">
        <div class="efecto">
          <div class="corte" style="margin: auto; margin-bottom: 10px">
            <img
              src="https://image.tmdb.org/t/p/w400<%=user.poster_path%>"
              class="card-img-top"
              alt="..."
            />
          </div>
        </div>
      </a>

      <% }); %>
    </div>
  </div>
</body>
